
<swal #swalWarningDefault title={{alertTitle}} text={{alertMessage}} icon={{alertIcon}}>
</swal>

<input type="file" style="display: none" #fileInput (change)="onFileSelected($event)" accept="image/*">

<div class="image-box" (drop)="onDrop($event)" (dragover)="onDragOver($event)" 
(click)="handleClick()" style="cursor: pointer;">
    <div class="wrapper">
        <div class="preview-box">
            <img [src]="imageSrc" class="preview-image">
        </div>

        <p class="title">{{labels.title}}<br>
        <label class="subtitle">{{labels.subtitle}}</label></p>
    </div>
</div>
  