.wrapper {
    width: 100%; 
    display: flex; 
    overflow: scroll;
}

.item {
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
    padding-top: 20px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.10);
}

.selected {
    background-color: #545353;
    color: #fff;
}