.wrapper {
    margin-top: 10px;
    margin-bottom: 150px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    width: 100%;
    height: 100px;
    margin-bottom: 21px;
    background-color: #545353;
}

.image-sender {
    margin-bottom: 20px;
}

form{
    width: 100%;
}
   
.form-control {
    border: 1px solid #FFFFFF;
    background-color: #545353;
    border-radius: 0;
    color: #FFFFFF;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    height: 3.5rem;
}

.form-control::placeholder {
    color: #fff;
}

.form-control:focus {
    border-color: #A511FF;
}

.text-area{
    height: 7rem;
}

.required-message {
    margin-top: 5px;
    font-size: 10px;
}

.alert-outline-success {
    border: 1px solid #28a745;
    background-color: transparent;
    color: #fff;
    padding: 1rem;
}

.alert-outline-success .alert-heading {
    color: #28a745;
    font-size: 1.1rem;
    font-weight: bold;
}

.alert-outline-success p {
    margin-bottom: 0;
    line-height: 1.5;
}

.alert-outline-success .text-success {
    color: #28a745 !important;
}
