<div class="wrapper w-100 px-5" style="color: #fff">
    <app-page-titles title="{{pageTitles.title}}" subtitle="{{pageTitles.subtitle}}"></app-page-titles>

    <form [formGroup]="form">
        <app-image-sender style="margin: 40px;"></app-image-sender>

        <div *ngFor="let field of formStructure" class="form-group">
            <ng-container *ngIf="field.type !== 'textarea'; else textareaField">
                <input [type]="field.type" class="form-control" [placeholder]="field.placeholder" [formControlName]="field.label">
            </ng-container>
            <ng-template #textareaField>
                <textarea class="form-control text-area" rows="4" [placeholder]="field.placeholder" [formControlName]="field.label"></textarea>
            </ng-template>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary px-4">Lançar Token na TestNet</button>
        </div>
      </form>
</div>