<div class="wrapper">
    
    <div class="p-5">
        <div *ngIf="this.action =='DETAILS'">
            <div class="form-content">
                <div *ngFor="let detail of tokenDetails">
                    <div *ngIf="detail.value">
                        <p class="form-item-title">{{detail.label}}<br>
                        <label class="form-item-subtitle">{{detail.value}}</label></p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button *ngIf="this.token.address" type="submit" class="btn btn-secondary px-4" (click)="goToScan()">VER NA SCAN</button>
            </div>
        </div>

        <div>
            <div *ngIf="!isEditMode">
                <div *ngIf="token.type == 'ERC721' && action != 'MINT'">
                    <app-collection-items [collectionItems]="selectedItem"></app-collection-items>
                </div>

                <div class="form-content">
                    <div *ngFor="let form of formStructure[this.action]">
                        <div *ngIf="form.defaultValue">
                            <p class="form-item-title">{{form.placeholder}}<br>
                            <label class="form-item-subtitle">{{form.defaultValue}}</label></p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end" *ngIf="isNewAction">
                    <button type="submit" class="btn btn-secondary px-4" (click)="confirm(formStructure[this.action])">CONFIRMAR</button>
                </div>
                <div class="d-flex justify-content-end" *ngIf="!isNewAction">
                    <app-process-status-tag [processStatus]=statusResponse[this.action].status (click)="refresh(statusResponse[this.action].hashId)"></app-process-status-tag>
                    <button *ngIf="this.statusResponse[this.action].scanUrl" class="btn btn-secondary px-4" style="margin-right: 20px;" (click)="goToScan(this.statusResponse[this.action].scanUrl)">VER NA SCAN</button>
                </div>
            </div>

            <div *ngIf="formStructure[this.action] && isEditMode">

                <div *ngIf="token.type == 'ERC721' && action != 'MINT'">
                    <app-collection-items (selected)="setSelectedCollectionItem($event)"></app-collection-items>
                </div>

                <form [formGroup]="form">
                    <div *ngFor="let field of formStructure[this.action]" class="form-group">
                        <ng-container *ngIf="field.type !== 'textarea' && field.type !== 'file' && !field.hide">
                            <input [type]="field.type" class="form-control" [placeholder]="field.placeholder" [formControlName]="field.label" [required]="field.required">
                            <div class="required-message" *ngIf="field.required && isFieldInvalid(field.label) && form.get(field.label).touched">
                                Este campo é obrigatório.
                            </div>
                        </ng-container>
                        <ng-container *ngIf="field.type == 'textarea' && !field.hide">
                            <textarea class="form-control text-area" rows="4" [placeholder]="field.placeholder" [formControlName]="field.label" [required]="field.required"></textarea>
                            <div class="required-message" *ngIf="field.required && isFieldInvalid(field.label) && form.get(field.label).touched">
                                Este campo é obrigatório.
                            </div>  
                        </ng-container>
                        <ng-container *ngIf="field.type == 'file' && !field.hide">
                            <app-image-sender (file)="setImageFile($event)" [labels]="imageLabels" [isImageSquad]="false" [minimumSize]="500" [maximumSize]="4000"></app-image-sender>
                        </ng-container>
                    </div>
                  </form>
                  <div class="d-flex justify-content-end">
                    <button (click)="changeMode()" class="btn btn-secondary px-4">{{ButtonsTypes[this.action].label}}</button>
                </div>
            </div>
            
        </div>
    </div>
</div>