.wrapper {
    background-color: #434242; 
    width: 100%
}

.form-item-title {
    font-weight: 300;
    font-size: 14px;
}

.form-item-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

.form-control {
    border: 1px solid #FFFFFF;
    background-color: #545353;
    border-radius: 0;
    color: #FFFFFF;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    height: 3.5rem;
}

.form-control::placeholder {
    color: #fff;
}

.form-control:focus {
    border-color: #A511FF;
}