<swal #swalWarningDefault title={{alertTitle}} text={{alertMessage}} icon={{alertIcon}}>
</swal>

<div class="w-100 px-5" style="color: #fff">
    <app-page-titles title="{{pageTitles.title}}" subtitle="{{pageTitles.subtitle}}"></app-page-titles>

    <div *ngIf="loader" class="w-100">
        <div class="w-100" style="width: 200px; height: 200px;">
            <app-loader loaderJson="crypto_loader.json"></app-loader>
        </div>
        <p style="color: rgb(123, 121, 118)" class="text-center">Buscando seus tokens...</p>
    </div>

    <div class="list" *ngFor="let myToken of myTokensList">
        <div class="typeMark" [ngStyle]="{'background-color': myToken.isMainNet ? '#A511FF' : '#00C0C0'}"></div>
        <div class="item">
            <div class="token">
                <app-circular-thumb-image imageUrl="{{ myToken.imgUrl || imagePlaceholder }}" [hasMessage]="false"></app-circular-thumb-image>
                <p>{{myToken.name}} <br>{{myToken.ticker}}</p></div>
                
                
            <div class="d-flex">
                <div *ngIf="myToken.status == 'CONFIRMED'" class="d-flex">
                    <div *ngFor="let action of myToken.actions">
                        <button class="btn mx-2" style="color: #fff; width: 100px;" 
                        [ngStyle]="{ 'background-color': ButtonsTypes[action].color }"
                        (click)="showAction(myToken, action)">{{action}}</button>
                    </div>
                </div>
    
                <div *ngIf="myToken.status == 'PENDING'">
                    <app-process-status-tag [processStatus]=myToken.status></app-process-status-tag>
                </div>
    
                <div class="d-flex px-2 align-items-center">
                    <p class="detailsBtn" (click)="showAction(myToken, 'DETAILS')">Ver Detalhes</p>
                </div>
            </div>   
            
        </div>
        <div *ngIf="myToken.actionOpened">
            <app-token-actions [token]="myToken" [action]="myToken.actionOpened" [statusResponse]="myToken.actionsStatus" (actionForm)="processAction($event)" (refreshStatus)="refreshActionStatus(myToken.hashId, myToken.actionOpened, $event)"></app-token-actions>
        </div>
    </div>
</div>

<app-full-loader [isLoading]=fullLoader></app-full-loader>
