.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: #545353;
    margin-bottom: 1rem;
    padding-inline: 2rem;
}

.token{
    display: flex;
    align-items: center;
    width: 10rem;
}

.detailsBtn {
    cursor: pointer;
    font-size: 12px;
}

p{
    margin-bottom: 0;
}