<div class="w-100 px-5" style="color: #fff">
    <app-page-titles title="{{pageTitles.title}}" subtitle="{{pageTitles.subtitle}}"></app-page-titles>

    <div class="list" *ngFor="let myToken of myTokensList">
        <div class="token">
            <app-circular-thumb-image imageUrl="{{myToken.token.imgUrl}}" [hasMessage]="false"></app-circular-thumb-image>
            <p>{{myToken.token.name}} <br>{{myToken.token.ticker}}</p></div>
            
            
        <div class="d-flex">
            <div *ngFor="let action of myToken.actions">
                <button class="btn mx-2" style="color: #fff; width: 100px;" [ngStyle]="{ 'background-color': ButtonsTypes[action].color }">{{action}}</button>
            </div>
            <div class="d-flex px-2 align-items-center">
                <p class="detailsBtn">Ver Detalhes</p>
            </div>
        </div>   
    </div>
</div>
