<swal #swalWarningDefault title={{alertTitle}} text={{alertMessage}} icon={{alertIcon}}>
</swal>

<div class="wrapper w-100 px-5 d-flex justify-content-center align-items-center">
    <div style="width: 100%;">
        
        <div *ngIf="step1 && !step2">
            <form [formGroup]="formPreSignup" (ngSubmit)="preSignup()">
                <app-page-titles title="{{step1Titles.title}}" subtitle="{{step1Titles.subtitle}}"></app-page-titles>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="seu melhor email" formControlName="email"
                        required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="crie uma senha"
                        formControlName="password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="confirme sua senha"
                        formControlName="confirmPassword" (onChange)="confirmPasswordValidator" required>

                        <div class="password-strength-meter">
                            <div class="strength-bar" [ngClass]="passwordStrength"></div>
                        </div>
                        <div class="password-rules" style="font-size: 12px; line-height: 0.5; margin-top: 20px;">
                            <p [ngClass]="{ 'valid-password': passwordRules.hasUpperCase, 'invalid': !passwordRules.hasUpperCase }">Ter letra maiúscula</p>
                            <p [ngClass]="{ 'valid-password': passwordRules.hasLowerCase, 'invalid': !passwordRules.hasLowerCase }">Ter letra minúscula</p>
                            <p [ngClass]="{ 'valid-password': passwordRules.hasNumbers, 'invalid': !passwordRules.hasNumbers }">Ter números</p>
                            <p [ngClass]="{ 'valid-password': passwordRules.hasSpecialChars, 'invalid': !passwordRules.hasSpecialChars }">Ter caracteres especiais</p>
                            <p [ngClass]="{ 'valid-password': passwordRules.lengthValid, 'invalid': !passwordRules.lengthValid }">Pelo menos 8 caracteres</p>
                            <p [ngClass]="{ 'valid-password': passwordRules.confirmPassword, 'invalid': !passwordRules.confirmPassword }">Senhas devem coincidir</p>
                        </div>
                </div>

                <div class="d-flex justify-content-end">
                    <div class="justify-content-end">
                        <p>Ao clicar no botão abaixo você está aceitando <label class="resend" (click)="showTerms()">Nossos Termos de Uso
                                e Políticas</label></p>
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-panda px-4">Prosseguir</button>
                            </div>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf="!step1 && step2">
            <form [formGroup]="formSignup" (ngSubmit)="signup()">
                <app-page-titles title="{{step2Titles.title}}" subtitle="{{step2Titles.subtitle}}"></app-page-titles>
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="seu nome"
                        formControlName="name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="CÓDIGO"
                        formControlName="code" required>
                </div>
                <p class="text-center">Não recebi. <span class="resend" (click)="resendCode()">Reenviar.</span></p>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-panda px-4">Cadastrar</button>
                </div>
            </form>
        </div>

        <div style="margin-top: 5rem;">
            <p class="help">Já tem uma conta? <a class="resend" href="/login">Entre nela agora</a></p>
        </div>
    </div>
</div>

<div class="fullscreen_shadow" *ngIf="loader">
</div>

<div class="fullscreen" *ngIf="loader">
    <div class="box">
        <app-loader loaderJson="infinity_loader.json"></app-loader>
    </div>
</div>

<div class="fullscreen_shadow" *ngIf="isTermsShowing" (click)="showTerms()">
</div>
<div class="pdf-container" *ngIf="isTermsShowing">
    <div style="position: absolute; right: 20px; top: 10px; cursor: pointer; z-index: 10001;" (click)="showTerms()">
        Fechar Termos e Condições
    </div>
    <pdf-viewer
      [src]="pdfSrc"
      [render-text]="true"
      [original-size]="true"
      style="display: block; width: 100%; height: 100vh;">
    </pdf-viewer>
  </div>
