<div class="content p-5">
    <swal #swalWarningDefault title={{alertTitle}} text={{alertMessage}} icon={{alertIcon}}>
    </swal>

    <div class="h-100 d-flex justify-content-center align-items-center">
        <div style="width: 55rem;">
            <div style="margin-bottom: 10rem;">
                <img src="assets/images/CriptoLab.svg">
            </div>
            
            <div *ngIf="step1 && !step2">
                <form [formGroup]="formPreSignup" (ngSubmit)="preSignup()">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="email" formControlName="email"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="senha"
                            formControlName="password" required>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-panda px-4">Prosseguir</button>
                    </div>
                </form>
            </div>
    
            <div *ngIf="!step1 && step2">
                <form [formGroup]="formSignup" (ngSubmit)="signup()">
                    <p class="text-center">Agora você deve informar o código enviado para seu email cadastrado.</p>
                    <div class="form-group">
                        <input type="text" class="form-control text-center" placeholder="seu nome"
                            formControlName="name" required>
                        <input type="text" class="form-control text-center" placeholder="CÓDIGO"
                            formControlName="code" required>
                    </div>
                    <p class="text-center">Não recebi. <span class="resend" (click)="resendCode()">Reenviar.</span></p>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-panda px-4">Cadastrar</button>
                    </div>
                </form>
            </div>
    
            <div style="margin-top: 10rem;">
                <p class="help">Precisa de ajuda? <label class="resend">Suporte CriptoLab</label></p>
            </div>
        </div>
    </div>
</div>

<div class="fullscreen_shadow" *ngIf="loader">
</div>

<!--div class="fullscreen" *ngIf="loader">
    <div class="box">
        <app-loader></app-loader>
    </div>
</div-->
