<swal #swalWarningDefault title={{alertTitle}} text={{alertMessage}} icon={{alertIcon}}>
</swal>

<div class="wrapper w-100 px-5 d-flex justify-content-center align-items-center">
    <div style="width: 100%;">
        
        <div *ngIf="step1 && !step2">
            <form [formGroup]="formPreSignup" (ngSubmit)="preSignup()">
                <app-page-titles title="{{step1Titles.title}}" subtitle="{{step1Titles.subtitle}}"></app-page-titles>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="seu melhor email" formControlName="email"
                        required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="crie uma senha"
                        formControlName="password" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="confirme sua senha"
                        formControlName="confirmPassword" required>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-panda px-4">Prosseguir</button>
                </div>
            </form>
        </div>

        <div *ngIf="!step1 && step2">
            <form [formGroup]="formSignup" (ngSubmit)="signup()">
                <app-page-titles title="{{step2Titles.title}}" subtitle="{{step2Titles.subtitle}}"></app-page-titles>
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="seu nome"
                        formControlName="name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control text-center" placeholder="CÓDIGO"
                        formControlName="code" required>
                </div>
                <p class="text-center">Não recebi. <span class="resend" (click)="resendCode()">Reenviar.</span></p>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-panda px-4">Cadastrar</button>
                </div>
            </form>
        </div>

        <div style="margin-top: 5rem;">
            <p class="help">Já tem uma conta? <a class="resend" href="/login">Entre nela agora</a></p>
        </div>
    </div>
</div>

<div class="fullscreen_shadow" *ngIf="loader">
</div>

<div class="fullscreen" *ngIf="loader">
    <div class="box">
        <app-loader loaderJson="infinity_loader.json"></app-loader>
    </div>
</div>
