.fullscreen{
    z-index: 1106;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen_shadow{
    z-index: 1105;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.box {
    opacity: 1;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}