.container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.circular-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(#A511FF, #00C0C0);
}

.premium-image {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    padding: 5px;
    background-color: #1e1e1e;
    border-radius: 5px;
}

.message {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}