<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin-bottom: 0;">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h5 class="card-title">Criar Títulos Publicos Federais na Rede Blockchain</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body" style="padding-top: 0;">
                <div>
                    <div *ngIf="showResponse && !showCreateLoader" style="margin-top: 20px;">
                        <app-response-box [config]="responseMessage"></app-response-box>
                    </div>
                    <div *ngIf="!transactionCreationObj">

                        <form [formGroup]="formBondTitle">
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label>Nome do Título</label>
                                        <input class="form-control" type="text" placeholder="Ex: Tesouro Selic ANO"
                                            formControlName="bondName">
                                    </div>
                                    <div class="form-group">
                                        <label>Sigla do Título</label>
                                        <input class="form-control" type="text" placeholder="Ex: TS2026"
                                         formControlName="acronym">
                                    </div>
                                    <div class="form-group">
                                        <label>Quantidade</label>
                                        <input class="form-control" type="text" placeholder="Ex: 1000"
                                            formControlName="amountTPFt">
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="form-group">
                                        <label>Data de Vencimento</label>
                                        <div class="input-group">
                                            <input class="form-control" name="d1"
                                            formControlName="maturityDate" ngbDatepicker #d1="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                                type="button"><i class="fa fa-calendar"></i></button>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Rentabilidade</label>
                                        <input class="form-control" type="text" placeholder="Ex: 1% a.a"
                                            formControlName="rentability">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row d-flex justify-content-end">
                            <button class="btn btn-dark" style="margin-left: 20px;"
                                (click)="createBond()">EMITIR TÍTULO NA WEB3</button>
                        </div>
                    </div>
                    

                    <div *ngIf="showCreateLoader && !transactionCreationObj">
                        <div style="border: 1px solid #e2e2e2; margin-top: 50px; margin-bottom: 20px;">

                        </div>
                        <p><b>Aguarde!</b> Seu título está sendo criado na rede Sepólia</p>
                    </div>

                    <div style="margin-top: 15px; margin-bottom: 15px;" *ngIf="transactionCreationObj">
                        <p>Este título foi criado com sucesso na rede <b>Sepólia</b>...</p>

                        <p>
                            <label><b>Título:</b> {{transactionCreationObj.bondName}}</label><br>
                            <label><b>Sigla:</b> {{transactionCreationObj.acronym}}</label><br>
                            <label><b>Rentabilidade:</b> {{transactionCreationObj.rentability}}</label><br>
                        </p>
                        
                        <p>Tx Hash: {{transactionCreationObj.txHash}}</p>
                        <button class="btn panda-quadrado-branco" style="margin-left: 20px;" (click)="goToEtherscan(transactionCreationObj.txHash)">Ver na Etherscan</button>
                        <button class="btn panda-quadrado-branco" style="margin-left: 20px;" 
                        (click)="goToEtherscan(transactionCreationObj.txHash)">Ver na OpeanSea</button>
                    </div>

                    <div style="margin-top: 25px; margin-bottom: 15px;" *ngIf="transactionCreationObj && !transactionPricingObj && !showPricingLoader">
                        <div>
                            <p><b>Atenção! Agora você precisa listar este título para venda.</b> Para isso, você precisa informar qual é o valor de cada unidade em Rt (Real Tokenizado)</p>
                            <form [formGroup]="formBondPricing">
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label>Preço Unitário</label>
                                            <input class="form-control" type="number" placeholder="Ex: 1,00"
                                                formControlName="price">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                    
                                    </div>
                                </div>
                            </form>
                            <div class="row d-flex justify-content-end">
                                <button class="btn btn-dark" style="margin-left: 20px;"
                                    (click)="listToSellBond()">TORNAR DISPONÍVEL PARA COMPRA</button>
                            </div>
                        </div>

                        <div *ngIf="showPricingLoader && !transactionPricingObj">
                            <p><b>Aguarde!</b> Seu título está sendo listado para venda na rede Sepólia...</p>
                        </div>
                    </div>

                    <div style="border: 1px solid #e2e2e2; margin-top: 50px; margin-bottom: 20px;">

                    </div>

                    <div style="margin-top: 15px; margin-bottom: 15px;" *ngIf="transactionPricingObj && !showPricingLoader">
                        <p>Este título foi <b>listado para venda</b> com sucesso na rede <b>Sepólia</b></p>
                        <p>Tx Hash: {{transactionPricingObj.txHash}}</p>
                        <button class="btn panda-quadrado-branco" style="margin-left: 20px;" (click)="goToEtherscan(transactionPricingObj.txHash)">Ver esta transação na Etherscan</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>