<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-left mr-auto">
    <li class="nav-item d-none d-md-block d-lg-none">
        <a (click)="toggleSidebar.emit()" class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)">
            <i class="mdi mdi-menu font-24"></i>
        </a>
    </li>

    <div *ngIf="showLogo" style="margin-left: 3rem; margin-top: 40px;" class="nav-item">
        <img src="assets/images/CriptoLab.svg">
    </div>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->


<ul class="navbar-nav float-right">
    <!-- ============================================================== -->
    <!-- User welcome -->
    <!-- ============================================================== -->
    

    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
    <div *ngIf="isLogged" style="margin-right: 3rem;">
        <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
            <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <app-circular-thumb-image ></app-circular-thumb-image>
            </a>
            <div class="dropdown-menu user-dd" ngbDropdownMenu>
                <a class="dropdown-item" routerLink="/my-account">
                    <i class="mdi mdi-account"></i> Minha conta</a>
                <a class="dropdown-item" routerLink="/my-tokens"> 
                    <i class="mdi mdi-format-list-bulleted"></i> Meus Tokens</a>
                <!--a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a-->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">
                    <i class="mdi mdi-logout"></i> Sair da Conta</a>
                <!--div class="dropdown-divider"></div>
                <div class="p-l-30 p-10">
                    <a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a>
                </div-->
            </div>
        </li>
    </div>
    <!-- ============================================================== -->
    <!-- User profile and search -->
    <!-- ============================================================== -->
</ul>