.container {
    height: 100%; /* altura da div mãe */
    overflow: hidden; /* oculta o conteúdo que ultrapassa os limites */
    display: flex; 
    justify-content: center; 
}

.child {
    position: relative; 
}