<div class="wrapper">
    <div class="content">
        <app-account-menu style="overflow: scroll; width: 100%; height: 100%;" [menu]="networkMenu"></app-account-menu>

        <div style="margin: 20px; height: 100%; width: 100%;">

            <p class="label">Saldo<br> 
                <label class="balance">2.30 ETH</label>
            </p>
    
            <p class="label">Chave Pública<br> 
                <label class="value">0xc4471c29F4b27F4cBD7e7AC8B7AFa6374EE6ED5B</label>
            </p>
    
            <p class="label">Ultimas Transações<br> 
                <label class="value">Não há transações</label>
            </p>
        </div>
    </div>
</div>