.notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: white;
  z-index: 50000;
  text-align: right;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

.notification.show {
  transform: translateY(0);
  opacity: 1;
}

.notification.success {
  background-color: #4CAF50;
}

.notification.error {
  background-color: #F44336;
}